# Save this as a normal config file and use to override with your custom parameters and needs

# Parametrized final test variant (so that we have default and it can be overridden from the command line)
default_only = normal

# Paths are defined here since they modify already generated parameters
# and cannot be both overriden and dynamically generated as the rest.
control_file ?<= /mnt/local/tp-repo/tp_folder/controls/

# Additional directory for find virt type tests. Relative to client/tests
other_tests_dirs = /mnt/local/tp-repo/tp_folder/
original_test_data_path ?<= /mnt/local/tp-repo/tp_folder/
additional_deployment_dir ?<= /mnt/local/packages/
